
.cheluvajamannidiv {
    display: flex;
    margin-top: 30px;
}

.cheluvajamanniimg {
    display: flex;
}

.cheluvajamannisec {
    margin-left: 60px;
}

.cheluvajamannithird {
    margin-left: 160px;
}

@media screen and (max-width: 767px) {
    .cheluvajamannithird {
        margin-top: 10px;
        margin-left: 0px;
    }
    .cheluvajamannisec {
        margin-top: 10px;
        margin-left: 0px;
    }

    .cheluvajamannidiv {
        display: inline;
    }

    .cheluvajamanniimg {
        display: inline;
    }
}
