.earlylifediv {
    display: flex;
    margin-top: 30px;
}

@media screen and (max-width: 767px) {
    .earlylifediv {
        display: inline;
    }
}

.earlylifedesc {
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .earlylifedesc {
        text-align: left;
    }
}
