.footer {
    background-color: darkblue;
    height: 315px;
    width: 100%;
    margin-top: 180px;
}

.footerdiv {
    margin-left: 306px;
    margin-right: 430px;
}

.tablecolumn {
    width: 72.105263157895%;
    padding: 0 173px;
}


.anothertablecolumn {
    width: 36.775708151855%;
    padding: 0 0px;
}

.footerpara {
    font-weight: 400;
    font-size: 19px;
    line-height: 35px !important;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px;
}

.anotherfooterpara {
    font-weight: 400;
    font-size: 19px;
    line-height: 35px !important;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: -90px;
}

@media screen and (max-width: 767px) {
    .footer {
        margin-top: 0px;
    }

    .footerpara {
        margin-top: 10px;
        font-size: 15px;
    }

    .tablecolumn {
        width: 67.105263157895%;
        padding: 0 20px;
    }
    .footerdiv {
        margin-left: 0px;
        margin-right: 0px;
    }
    .anotherfooterpara {
        margin-top: -125px;
    }
}

