.css-1v5z4dq-MuiPaper-root-MuiCard-root {
    margin: 0px 20px !important;
    background-color: darkcyan !important;
    color: white !important;
    border-radius: 0px !important;
    width: 450px !important;
    height: 180px !important;
}

.css-1okfn8i {
    margin: 0px 20px !important;
    background-color: darkcyan !important;
    color: white !important;
    border-radius: 0px !important;
    width: 450px !important;
    height: 180px !important;
}

.videocontent {
    display: flex;
    height: 480px;
    margin-left: 20px;
}


.video-responsive {
    overflow: hidden;
    padding-bottom: 32.25%;
    position: relative;
    height: 0;
    height: 100%;
    width: 2200px;
}

    .video-responsive iframe {
        left: 0;
        top: 0;
        height: 480px;
        width: 630px;
        position: absolute;
    }



.aboutdisplay {
    padding: 40px 20px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin: 55px 20px;
    text-align: left;
}

    .aboutdisplay h2 {
        font-size: 25px;
        line-height: 40px !important;
    }

    .carddivision {
        display: flex;
        margin-top: 100px;
    }


@media screen and (max-width: 767px) {
    .css-1v5z4dq-MuiPaper-root-MuiCard-root {
        width: 350px !important;
        height: 200px !important;
        margin-bottom: 50px !important;
    }

    .css-1okfn8i {
        width: 350px !important;
        height: 200px !important;
        margin-bottom: 50px !important;
    }

    .carddivision {
        display: inline;
    }

    .video-responsive {
        height: 400px;
    }

        .video-responsive iframe {
            width: 400px;
        }

    .videocontent {
        display: inline;
    }
}
