.rothamsteddiv {
    display: flex;
    margin-top: 40px;
}

.rothamstedpic {
    display: inline;
    margin-top: 40px;
    margin-left: 80px;
}

@media screen and (max-width: 767px) {
    .rothamstedpic {
        margin-top: 40px;
        margin-left: 0px;
    }
    .rothamsteddiv {
        display: inline;
    }
}
