.infantFood {
    height: 210px;
    width: calc(100% + -60px);
    margin-right: 20px;
    margin-left: 20px;
}

.buffalomilk {
    height: 300px;
    width:200px;
    float: left;
    margin-right: 15px;
}

.infantFood1 {
    height: 480px;
    width: calc(100% + -40px);
    margin-right: 20px;
    margin-left: 20px;
}