.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.backbutton {
    color: white !important;
    font-weight: bold !important;
    background-color: darkblue !important;
    width: 155px !important;
    height: 35px !important;
    text-align: center;
    font-size: larger;
}


.container {
    overflow: hidden;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 15px;
}


.headerimg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 155px;
    margin-top: 70px;
}

    .menulist {
        overflow: hidden;
        width: 100%;
        padding: 10px 0;
        background: #ffffff;
        box-sizing: border-box;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        max-width: 960px;
        margin: 0 auto;
    }

   

    h1 {
        font-family: "Actor" !important;
        color: #131f79 !important;
        letter-spacing: 4px !important;
        text-align: center;
        font-size: 40px;
    }


h3 {
    font-family: "Actor" !important;
    color: #131f79 !important;
    letter-spacing: 2px !important;
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
}


    h2 {
        line-height: 29px !important;
        text-align: center;
        color: rgb(233, 170, 60);
    }


    .earlylife {
        font-size: x-large;
        font-weight: bold;
    }

    .earlylifepara {
        font-weight: 400;
        font-size: 19px;
        line-height: 35px !important;
        margin-bottom: 10px;
        text-align: justify;
        text-justify: inter-word;
    }

    

    .App-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }

    .App-link {
        color: #61dafb;
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

@media screen and (max-width: 767px) {
    h3 {
        font-size: 16px;
    }

    h2 {
        font-size: 20px;
    }

    .container {
        font-size: 15px;
    }
    .headerimg {
        margin-top: 40px;
    }
    .earlylifepara {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .earlylife {
        margin-left: 10px;
    }
    }
